/* google font link  */

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');


.home-banner-img{
    height: 310px;
    border-radius: 15px;
    
}
.product-title{
    font-family: 'Anton', sans-serif;
font-family: 'Open Sans', sans-serif;
font-style: italic;
font-weight: 600;
}


/* .banner-video{
    z-index: 2 !important;
}
.banner-video-text{
    color: white;
    margin-top: -50px;
    z-index: 1 !important;
} */


/* -------------------service part design ----------------------------- */
.service-box{
    max-height: 200px;
    min-height: 200px;
    padding: 35px 15px;
    border: 2px solid rgb(223, 216, 216)
    /* text-align: center; */
}
.service-box:hover{
    border: 2px solid  #E67E22;
}
.service-icon{
    /* margin: 15px 0; */
    font-size: 60px;
    color: #E67E22;
}
.service-li{
    margin-top: 15px;
    list-style: none;
    font-size: 21px;
}
.service-li:hover{
    color: #E67E22;
}

