
.custom-nav{
    /* background-color: #FAF1ED; */
    /* background-color: #F8F9FA; */
    background-color: #454545;
    color: white;
}
.header-title{
    color: white !important;
    font-family: 'Anton', sans-serif;
}
.header-img{
    height: 40px;
    width: 80px;
    margin-right: 15px;
}
.header-title{
    font-weight: 500;
}
.img-custom-circle{
    height: 280px;
    width: 320px;
}
.regular-btn{
    padding: 8px 15px;
    background-color: #E67E22  ;
    /* background-color: rgba(9, 129, 9, 0.815); */
    color: black;
    font-weight: 500;
    border-radius: 5px;
}
.regular-btn:hover{
    background-color: #AF601A ;
}



/* this is link style */
.nav-link{
    font-weight: 600;
    font-size: 20px;
    color: white !important;
    margin-right: 10px;
    padding: 5px 10px;
}
.nav-link:hover{
   border-bottom:2px solid rgba(9, 129, 9, 0.815) ;
   
}
.nav-link:focus{
    border-bottom:2px solid rgba(9, 129, 9, 0.815) ;
    
}